#include "miryoku_mod.dtsi"

&kscan0 {
    col-gpios
        = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col1 in the schematic
        , <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col2 in the schematic
        , <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col3 in the schematic
        , <&gpio0 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col4 in the schematic
        , <&gpio1 7  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col5 in the schematic
        , <&gpio1 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col6 in the schematic
        ;
};

&l1_encoder {
    a-gpios = <&GPIO0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    b-gpios = <&GPIO0 02 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    status = "okay";
};

&l2_encoder {
    a-gpios = <&GPIO0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    b-gpios = <&GPIO0 32 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    status = "okay";
};
