#include "miryoku_mod.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col7 in the schematic
        , <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col8 in the schematic
        , <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col9 in the schematic
        , <&gpio1 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col10 in the schematic
        , <&gpio1 7  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col11 in the schematic
        , <&gpio1 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // col12 in the schematic
        ;
};

&r1_encoder {
    a-gpios = <&GPIO0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    b-gpios = <&GPIO0 02 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    status = "okay";
};

&r2_encoder {
    a-gpios = <&GPIO0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    b-gpios = <&GPIO0 32 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    status = "okay";
};